@page "/"

<PageTitle>FluentTextArea #1085</PageTitle>

<h1>FluentTextArea #1085</h1>

<p>There are two pages in this app.</p>
<ol>
    <li><FluentAnchor Appearance="Appearance.Hypertext" Href="/withsubmit">The first page</FluentAnchor> shows a problematic situation when using a DataAnnotationValidator on the Submit button.</li>
    <li><FluentAnchor Appearance="Appearance.Hypertext" Href="/withoutsubmit">The second page</FluentAnchor> is showing a FluentValidationValidator without the Submit button.</li>
</ol>
